body {
    background-color: #EBD8CF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    flex-direction: column;
    width: 80%;
    height: 95%;
    display: flex;
    position: relative;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
}

.logo {
    display: flex;
    flex: 1;
    align-items: center;
}

.logo h2 {
    font-size: 40px;
    color: #990f3d;
    font-weight: bold;
    margin-right: 15px;
    font-family: "Averia Serif Libre", serif;
    font-weight: 400;
}

.logo img {
    width: 50px;
}

.header h3 {
    font-size: 28px;
    color: #990f3d;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
}

.content {
    display: flex;
    align-items: center;
    width: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.text h1 {
    font-size: 48px;
    color: #990f3d;
    font-weight: 400;
    font-family: "Averia Serif Libre", serif;
    margin-bottom: 0;
}

.text p {
    font-size: 24px;
    color: #990f3d;
    font-weight: 400;
    font-family: "Averia Serif Libre", serif;
    font-style: italic;
}

.text a {
    background-color: #EBD8CF;
    border: 2;
    border-color: #990f3d;
    border-style: solid;
    border-radius: 40px;
    width: 20%;
    cursor: pointer;
    font-size: 18px;
    color: #990f3d;
    font-weight: 600;
    padding: 18px;
    font-family: "Raleway", sans-serif;
    text-align: center;
    text-decoration: none;
}

.text a:hover{
    background-color: #990f3d;
    color: #EBD8CF;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 40%;
    height: 100%;
}

.image-container img {
    height: auto;
    margin: 20px 0;
    position: absolute;
}

.image1 {
    top: 50%;
    left: 25%;
    transform: rotate(-17deg);
}

.image2 {
    top: 85%;
    left: 70%;
    transform: rotate(40deg);
}

.image3 {
    top: 85%;
    left: -10%;
    transform: rotate(-8deg);
}

.social-media {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 30px;
    left: 20px;
}

.social-media a img {
    width: 50px;
    cursor: pointer;
    margin-bottom: 10px;
}

.linkedin-icon {
    color: #990f3d;
    text-align: center;
    font-size: 62px;
    margin-bottom: 10px;
}


.instagram-icon {
    color: #990f3d;
    text-align: center;
    font-size: 62px;
}